
@model Agent

@{

    ViewBag.Title = "BeautyCenter  | New Agent";

}

<div class="my-2 text-left col-12">
    <h2> Create New Agent</h2>
    <hr />
</div>

<form class="mx-lg-auto my-5 w-50" method="post">
    <input hidden class="form-control" type="datetime" asp-for="CreateDate" value="@DateTime.Now">

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName">
        <span asp-validation-for="FirstName" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName">
        <span asp-validation-for="LastName" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber">
        <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adress"></label>
        <input type="text" class="form-control" asp-for="Adress">
    </div>
    <div class="form-group">
        <label asp-for="ServiceId"></label>
        <select asp-for="ServiceId" class="form-control">
            <option value="">Select Type...</option>
            @foreach (Service service in ViewBag.Services)
            {
                <option value="@service.Id">@service.Name</option>
            }

        </select>
        <span asp-validation-for="Service" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <input type="checkbox" class="form-check-input" asp-for="IsActive">
        <label class="form-check-label" asp-for="IsActive"></label>
    </div>




    <button type="submit" class="btn btn-primary">Create</button>
    <div class="text text-danger" hidden asp-validation-summary="All"></div>


</form>
